* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.navegador {
  background-color: rgb(255, 215, 0);
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor-menu {
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 70px;
  height: auto;
  margin-left: -40px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 40px;
}

.menu li a {
  text-decoration: none;
  color: #222;
  font-weight: bold;
  font-size: 18px;
}



.contenedor1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 80px;
  max-width: 1600px;
  margin: auto;
  gap: 40px;
  background-color: white;
  margin-bottom: 15%;
}

.imagen1 img {
  width: 500px;
  height: auto;
  border-radius: 5px;
  margin-left: 150px;
}

.texto1 {
  max-width: 500px;
  margin-right: 130px;
}

.texto1 h2 {
  font-size: 48px;
  font-weight: 1000px;
  color: #000;
  margin-bottom: 20px;
}

.texto1 p {
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  margin-bottom: 20px;
}

.boton {
  display: inline-block;
  background-color: #ffcc00;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 2px;
}

.boton:hover {
  background-color: #e6b800;
}




.contenedor2 {
  max-width: 1100px;          
  margin: 0 auto;              
  background-color: #eaeaea;   
  border-radius: 6px;
  padding: 54px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: -320px;          
}


.texto2 {
  flex: 0 0 38%;              
  max-width: 420px;
}


.texto2 h2 {
  font-size: 56px;          
  line-height: 0.95;
  color: #f9ce00;             
  font-weight: 800;
  margin: 0 0 18px 0;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.texto2 p {
  color: #333;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 16px;
}

.leer-mas {
  font-weight: 700;
  color: #000;
  text-decoration: none;
}

.graficos {
  flex: 0 0 50%;             
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 56px;                
}

.graficos img {
  width: 200px;               
  height: auto;
  display: block;
}

.seccion-amarilla {
  background-color: #f9ce00;
  padding-top: 140px; 
  padding-bottom: 80px;
}

.contenedor3 {
  background-color: #f9ce00; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 8%;
  gap: 50px;
  margin-bottom: 20%;
}

.texto3 {
  flex: 1;
  color: #000;
}

.texto3 h2 {
  font-size: 64px;
  line-height: 1.05;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.texto3 p {
  font-size: 15px;
  line-height: 1.6;
  max-width: 400px;
  margin-bottom: 30px;
}

.boton3 {
  background-color: #000;
  color: #fff;
  text-decoration: none;
  padding: 12px 28px;
  font-weight: 700;
  display: inline-block;
}

.imagen3 {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.imagen3 img {
  width: 100%;
  max-width: 600px;
  border-radius: 4px;
}
