* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.navegador {
  background-color: rgb(255, 215, 0);
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor-menu {
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 70px;
  height: auto;
  margin-left: -40px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 40px;
}

.menu li a {
  text-decoration: none;
  color: #222;
  font-weight: bold;
  font-size: 18px;
}



.contenedor1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 80px;
  max-width: 1600px;
  margin: auto;
  gap: 40px;
  background-color: white;
}

.imagen1 img {
  width: 500px;
  height: auto;
  border-radius: 5px;
  margin-left: 150px;
}

.texto1 {
  max-width: 500px;
  margin-right: 130px;
}

.texto1 h2 {
  font-size: 48px;
  font-weight: 1000px;
  color: #000;
  margin-bottom: 20px;
}

.texto1 p {
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  margin-bottom: 20px;
}

.boton {
  display: inline-block;
  background-color: #ffcc00;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 2px;
}

.boton:hover {
  background-color: #e6b800;
}

.contenedor2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eaeaea;
  padding: 60px 80px;
  margin: 50px auto;
  max-width: 1100px;
  border-radius: 5px;
  position: relative;
  z-index: 2;
}

body {
  background-color: #f9ce00;
}

.texto2 {
  flex: 1;
}

.texto2 h2 {
  font-size: 42px;
  color: #ffcc00;
  font-weight: 800;
  margin-bottom: 15px;
  line-height: 1.1;
}

.texto2 p {
  color: #333;
  font-size: 16px;
  margin-bottom: 15px;
}

.leer-mas {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.leer-mas:hover {
  text-decoration: underline;
}

.graficos {
  display: flex;
  align-items: center;
  gap: 40px;
}

.graficos img {
  width: 180px;
  height: auto;
}
